.oya{
  height: 500px;
  width: 500px;
  background: black;
}

.ko{
  display: block;
  height: 100px;
  width: 100px;
  background: red;
  /*position: absolute; */
  position: relative;
  top: 200px;
}
